@import "../../variables";
@import "../../rems";

.articlemeta {
    color: $color-gray-detail;
    display: block;
    @include responsive-font(12, 16);
    @include responsive-lineheight(18, 21);
    text-transform: uppercase;
}

.articlemeta--big {
    color: $color-black-headline;
    font-weight: $font-weight-medium;
    font-size: $rem16;
    line-height: $rem24;
}

.articlemeta--white {
    color: #fff;
    font-weight: $font-weight-medium;
    text-shadow: $text-shadow-default;
}

.articlemeta--video {
    text-transform: none;
}