@import "../../functions";
@import "../../rems";
@import "../../variables";

.menutoggler {
    background: none;
    border: none;
    color: white;
    display: block;
    font-family: inherit;
    font-size: $rem16;
    font-weight: $font-weight-medium;
    height: $rem48;
    line-height: $rem48;
    padding: 0 $rem16 0 $rem24;
    position: relative;
    text-shadow: $text-shadow-default;
    transition: $transition-default;
    appearance: initial;
    -webkit-appearance: initial;
}

.menutoggler__stripe {
    background: $color-white;
    box-shadow: 1px 1px 0 rgba(0,0,0,.5);
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    transform-origin: center center;
    transition: $transition-default;
    width: $rem12;

    &--1 {
        margin-top: -#{($rem4)};

        &.menutoggler__stripe--close {
            margin: 0;
            transform: rotate(45deg);
        }
    }

    &--2 {
        &.menutoggler__stripe--close {
            display: none;
        }
    }

    &--3 {
        margin-top: #{($rem4)};

        &.menutoggler__stripe--close {
            margin: 0;
            transform: rotate(-45deg);
        }
    }
}