@import "../../variables";
@import "../../rems";

.bannerlinks {
    @media (min-width: $breakpoint-tablet) {
        display: flex;
        margin: 0 -#{(60/2/16)}rem;
    }
}

.bannerlinks__item {
    margin-bottom: $rem30;

    @media (min-width: $breakpoint-tablet) {
        margin: 0 #{(60/2/16)}rem 0;
    }
}