@import "../../functions";
@import "../../variables";

.articletitle {
    color: $color-black-headline;
    font-weight: $font-weight-black;
    @include responsive_font(21, 54);
    line-height: 1.25em;
}