@import "../../variables";
@import "../../rems";

.gameslist__slider {
    margin-top: -$rem30;
    overflow-x: auto;
    overflow-y: visible !important;
    padding-top: $rem30;
}

.gameslist__items {
    display: flex;
    margin: 0 -$rem15;
}

.gameslist__item {
    margin: 0 $rem15;
}
