@import "../../functions";
@import "../../rems";
@import "../../variables";

.gameslist__slider {
    margin-top: -$rem30;
    overflow-x: auto;
    overflow-y: visible !important;
    padding-top: $rem30;
}

.gameslist__items {
    align-items: stretch;
    display: flex;
    margin: 0 -$rem15;

    @media (min-width: $breakpoint-tablet) {
        margin: 0 -$rem30;
    }
}

.gameslist__item {
    margin: 0 $rem15;
    @include responsive-width(300, 480);

    @media (min-width: $breakpoint-tablet) {
        margin: 0 $rem30;
    }
}
