@import "../../variables";
@import "../../rems";

.endline {
    background: url('../../assets/img/reidars-endline@2x.png') 50% 50% no-repeat;
    background-size: auto 73px;
    border: none !important;
    display: block;
    height: 72px;
    -webkit-appearance: none;
}