@import "../../variables";
@import "../../rems";

.videoslist__slider {
    overflow-x: auto;
    overflow-y: visible;
}

.videoslist__items {
    display: flex;
    margin: 0 -$rem15;
}

.videoslist__item {
    margin: 0 $rem15;
}
