@import "../../functions";
@import "../../rems";
@import "../../variables";

.footertop {
    background-color: #1d1d1d;
    @include responsive-padding-y(32, 64);
}

.footertop__content {
    align-items: center;
    display: flex;
    justify-content: center;

    @media (min-width: $breakpoint-tablet) {
        justify-content: space-between;
    }
}

.footertop__logo {
    width: $rem80;

    @media (min-width: $breakpoint-laptop) {
        width: $rem160;
    }
}

/* --------------------------- */

.footerbottom {
    background-color: #f3f3f3;
    @include responsive-padding-y(32, 64);
}

.footerrow {
    @media (min-width: $breakpoint-tablet) {
        display: flex;
        margin: 0 -#{($rem16)};
    }
}

.footercol {
    margin-bottom: $rem32;

    @media (min-width: $breakpoint-tablet) {
        margin-bottom: 0;
        padding: 0 $rem16;
    }

    p {
        color: $color-black-full;
        @include responsive-font(14, 18);
        line-height: 1.5em;
        margin-bottom: 1em;
    }
}

.footercol__title,
.footertitle {
    color: $color-black-headline;
    @include responsive-font(21, 32);
    font-weight: $font-weight-bold;
    line-height: normal;
    @include responsive-margin-bottom(16, 40);
}

/* -------------------------------- */

.footermenu {
    display: none;

    @media (min-width: $breakpoint-tablet) {
        display: block;
    }
}

.footermenu__list {
    text-align: right;
}

.footermenu__listitem {
    display: inline-block;
    margin-left: .5em;
    vertical-align: middle;

    @media (min-width: $breakpoint-laptop) {
        margin-left: 1.25em;
    }
}

.footermenu__link {
    color: $color-white;
    @include responsive-font(10, 21);
    font-style: normal;
    font-weight: $font-weight-medium;
    line-height: normal;
    text-transform: uppercase;
}