@import "../../functions";
@import "../../rems";
@import "../../variables";

.headertop {
    @include responsive-padding-y(16, 28);

    @media (min-width: $breakpoint-tablet) {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
    }
}

.headertop__left {
    color: $color-gray-detail;
    font-weight: $font-weight-medium;
    text-align: center;

    @media (min-width: $breakpoint-tablet) {
        text-align: initial;
    }
}

.headertop__right {
    display: none;

    @media (min-width: $breakpoint-tablet) {
        display: block;
    }
}

.headertop__link {
    color: $color-black-body;
    font-weight: $font-weight-medium;
    margin-left: $rem16;
    position: relative;

    &::after {
        background-color: $color-black-body;
        bottom: -#{$rem2};
        content: '';
        display: block;
        height: $rem2;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 100%;
        transition: $transition-default;
    }

    &:hover,
    &:focus,
    &:active {
        &::after {
            background-color: $color-blue-button;
            opacity: 1;
            right: 0;
        }
    }
}

.navigation {
    background-color: $color-blue-brand;
    min-height: $rem60;
    position: relative;

    &:before,
    &:after {
        background-color: $color-black-full;
        content: '';
        display: block;
        height: $rem6;
        left: 0;
        position: absolute;
        right: 0;

        @media (min-width: $breakpoint-tablet) {
            height: $rem10;
        }
    }

    &:before {
        border-bottom: $rem5 solid $color-white;
        box-sizing: initial;
        top: 0;
    }

    &:after {
        bottom: 0;
        border-top: $rem5 solid $color-white;
        box-sizing: initial;
    }

    @media (min-width: $breakpoint-tablet) {
        min-height: #{(108/16)}rem;
    }
}

.navigation__logo {
    display: block;
    left: -#{($rem24)};
    position: absolute;
    top: -#{$rem12};
    z-index: 2;
    width: $rem120;

    @media (min-width: $breakpoint-tablet) {
        left: -#{($rem48)};
        top: -#{$rem8};
        width: $rem180;
    }

    @media (min-width: $breakpoint-laptop) {
        left: -#{($rem44)};
        top: -#{$rem16};
        width: $rem240;
    }
}

.navigation__toggler {
    position: absolute;
    right: $rem24;
    top: $rem6;
    z-index: 2;

    @media (min-width: $breakpoint-tablet) {
        display: none;
    }
}

.navigation__list {
    display: none;
    padding: $rem36 $rem80;
    text-align: center;

    @media (min-width: $breakpoint-tablet) {
        display: block;
    }
}

.navigation__listitem {
    display: inline-block;
    @include responsive-padding-x(4, 16);
    transition: $transition-default;
    vertical-align: middle;
}

.navigation__link {
    color: $color-white;
    @include responsive-font(16, 24);
    font-weight: $font-weight-bold;
    letter-spacing: -#{(0.24/16)}rem;
    line-height: $rem34;
    text-shadow: $text-shadow-big;

    &:hover,
    &:active,
    &:focus {
        color: lighten($color-blue-button, 60%);
    }
}

.navigation__cutout {
    background-color: $color-white;
    bottom: 0;
    position: absolute;
    top: 0;
    width: $rem24;
    z-index: 2;

    &--left {
        left: 0;
        transform: skewX(10deg);
        transform-origin: left bottom;
    }

    &--right {
        right: 0;
        transform: skewX(-10deg);
        transform-origin: right bottom;
    }
}