@import "../../functions";
@import "../../rems";
@import "../../variables";

.gamescore {
    align-items: center;
    display: flex;
    width: 100%;
}

.gamescore__team {
    display: block;
    flex-grow: 1;
    @include responsive-font(18, 32);
    font-weight: $font-weight-bold;
    @include responsive-lineheight(24, 36);
}

.gamescore__score {
    color: $color-blue-main;
    display: block;
    font-weight: $font-weight-bold;
    @include responsive-font(21, 32);
    @include responsive-lineheight(24, 36);
    text-align: center;
    text-transform: uppercase;
    @include responsive-padding-x(10, 24);
    @include responsive-padding-y(32, 48);
}

.gamescore__score--upcoming {
    color: $color-blue-button;
}

.gamescore__team--home {
    text-align: right;
}

.gamescore__team--away {
    text-align: left;
}