@import "../../variables";
@import "../../rems";

.newslist__slider {
    overflow-x: auto;
    overflow-y: visible;
}

.newslist__items {
    display: flex;
    margin: 0 -$rem15;
}

.newslist__itemwrap {
    margin: 0 $rem15;
}
