@import "../../functions";
@import "../../rems";
@import "../../variables";

.videoitem {
    display: block;
}

.videoitem__thumb {
    background-blend-mode: hard-light;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $border-radius-default;
    display: block;
    height: calc((100vw - #{($rem48)}) * .50);
    min-height: calc((100vw - #{($rem48)}) * .50);
    position: relative;
    transition: $transition-default;
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
        height: calc((100vw - #{($rem48)}) / 2 * .50 - #{($rem32)});
        min-height: calc((100vw - #{($rem48)}) / 2 * .50 - #{($rem32)});
    }

    @media (min-width: $breakpoint-desktop) {
        height: calc((100vw - #{($rem48)}) / 3 * .50 - #{($rem32)});
        min-height: calc((100vw - #{($rem48)}) / 3 * .50 - #{($rem32)});
    }

    &:before {
        background-color: rgba(0,0,0,0.0);
        border-radius: 100%;
        content: '';
        display: block;
        height: $rem80;
        left: 50%;
        margin: -$rem40 0 0 -$rem40;
        position: absolute;
        top: 50%;
        transform: scale(0.75);
        transition: $transition-default;
        width: $rem80;
    }

    &:after {
        border-left: $rem30 solid #fff;
        border-top: $rem20 solid transparent;
        border-right: $rem30 solid transparent;
        border-bottom: $rem20 solid transparent;
        border-radius: $border-radius-default;
        content: '';
        display: block;
        height: $rem40;
        left: 50%;
        margin: -$rem20 0 0 -$rem14;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: scale(0.5);
        transition: $transition-default;
        width: $rem60;
    }

    .videoitem:hover &,
    .videoitem:focus & {
        background-color: rgba($color-blue-main,0.75);

        &:before {
            background-color: rgba(0,0,0,0.75);
            transform: scale(1);
        }

        &:after {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.videoitem__img {
    display: none;
}

.videoitem__runtime {
    background: rgba(0,0,0,0.8);
    bottom: $rem10;
    color: #fff;
    display: block;
    font-size: $rem14;
    @include responsive-font(14, 18);
    font-weight: $font-weight-bold;
    line-height: 1.5em;
    @include responsive-padding-x(8, 16);
    @include responsive-padding-y(1, 2);
    position: absolute;
    right: $rem10;
    text-transform: uppercase;
}

.videoitem__title {
    color: #000;
    display: block;
    @include responsive-font(16, 21);
    font-weight: $font-weight-medium;
    line-height: 1.5em;
    margin: $rem10 0;
}

.videoitem__text {
    color: $color-gray-detail;
    display: block;
    @include responsive-font(14, 16);
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}