@import "../../variables";
@import "../../rems";

.archiveitem {
    display: flex;
}

.archiveitem__imagelink {
    align-self: flex-start;
    display: none;

    @media (min-width: $breakpoint-tablet) {
        display: block;
        height: auto;
        margin-right: $rem30;
        min-width: $rem240;
        width: $rem240;
    }

    @media (min-width: $rem60) {
        margin-right: $rem60;
    }

}

.archiveitem__image {
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    transition: $transition-default;

    &:hover,
    &:focus {
        box-shadow: 0 12px 12px -12px rgba(0,0,0,0.3);
        transform: rotate(2deg) scale(1.1);
    }
}

.archiveitem__title {
    font-size: $rem18;
    font-weight: $font-weight-black;
    margin-bottom: $rem5;

    @media (min-width: $breakpoint-tablet) {
        font-size: $rem21;
    }
}

.archiveitem__meta {
    color: $color-gray-detail;
    display: block;
    font-size: $rem14;
    line-height: $rem21;
    margin-bottom: $rem15;
}

.archiveitem__text {
    line-height: 200%;
    margin-bottom: $rem10;

    @media (min-width: $breakpoint-tablet) {
        margin-bottom: $rem15;
    }
}
