@import "../../functions";
@import "../../rems";
@import "../../variables";

.archiveitem {
    display: block;

    @media (min-width: $breakpoint-mobile) {
        display: flex;
    }
}

.archiveitem__imagelink {
    display: block;
    margin: 0 0 $rem16;

    @media (min-width: $breakpoint-mobile) {
        align-self: flex-start;
        height: auto;
        margin: 0 0 0 $rem24;
        order: 1;
        @include responsive-width(140, 240);
    }
}

.archiveitem__image {
    @include image-default-animation;
    height: auto;
}

.archiveitem__content {
    @media (min-width: $breakpoint-mobile) {
        flex-grow: 1;
        order: 0;
    }
}

.archiveitem__title {
    @include responsive-font(18, 28);
    font-weight: $font-weight-black;
    @include responsive-margin-bottom(8, 16);
}

.archiveitem__meta {
    @include responsive-margin-bottom(16, 24);
}

.archiveitem__text {
    @include responsive-font(16, 18);
    line-height: 200%;
    @include responsive-margin-bottom(10, 16);
}
