@import "../../variables";
@import "../../rems";

.bannerlinks {
    @media (min-width: $breakpoint-tablet) {
        display: flex;
    }
}

.bannerlinks__item--odd {
    margin-bottom: $rem30;
    @media (min-width: $breakpoint-tablet) {
        margin-bottom: 0;
        margin-right: $rem15;
    }
}

.bannerlinks__item--even {
    @media (min-width: $breakpoint-tablet) {
        margin-left: $rem15;
    }
}