@import "../../functions";
@import "../../rems";
@import "../../variables";

.listtitle {
    color: $color-black-headline;
    @include responsive-font(21, 56);
    font-weight: $font-weight-black;
    line-height: 1.5em;
    margin-bottom: $rem24;
}