@import "../../variables";
@import "../../rems";

.listheader {
    display: flex;
    justify-content: space-between;
}

.listheader__controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $rem30;
}

.listheader__chevrons {
    margin-left: $rem30;
}