$rem10: #{(10/16)}rem;
$rem12: #{(12/16)}rem;
$rem14: #{(14/16)}rem;
$rem15: #{(15/16)}rem;
$rem16: 1rem;
$rem18: #{(18/16)}rem;
$rem20: #{(20/16)}rem;
$rem21: #{(21/16)}rem;
$rem30: #{(30/16)}rem;
$rem40: #{(40/16)}rem;
$rem50: #{(50/16)}rem;
$rem60: #{(60/16)}rem;
$rem240: #{(240/16)}rem;
$rem320: #{(320/16)}rem;
$rem500: #{(500/16)}rem;
