$font: "reidars";

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$color-blue-main: #036;
$color-blue-button: #004D9A;
$color-black-headline: #333;
$color-black-body: #222;
$color-gray-detail: #606060;
$color-gray-bg-light: #f0f0f0;
$color-gray-bg-dark: #D4D6D9;

$border-radius-default: #{(6/16)}rem;

$text-shadow-default: 1px 1px 0px #000;

$transition-default: all 0.2s ease-in-out;

$breakpoint-mobile: 600px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;