@import "../../functions";
@import "../../rems";
@import "../../variables";

.articlecaptionedimage__caption {
    color: #000;
    @include responsive-font(16, 18);
    font-weight: $font-weight-medium;
    line-height: 1.5em;
    margin-top: $rem30;
}