@import "../../functions";
@import "../../rems";
@import "../../variables";

.articlecaptionedimage__caption {
    color: $color-black-full;
    @include responsive-font(16, 18);
    font-weight: $font-weight-medium;
    line-height: 1.5em;
    margin: $rem16 0 4em !important;
}

.wp-caption-text {
    @extend .articlecaptionedimage__caption;
}