@import "../../functions";
@import "../../rems";
@import "../../variables";

.gameitem {
    background-color: $color-gray-bg-light;
    position: relative;
}

.gameitem--report {
    @media (min-width: $breakpoint-tablet) {
        width: 100%;
    }
}

.gameitem__header {
    background-color: $color-blue-main;
    color: #fff;
    @include responsive-font(14, 18);
    @include responsive-lineheight(21, 24);
    margin: 0;
    padding-left: $rem8;
    padding-right: $rem8;
    @include responsive-padding-y(8, 16);
    text-align: center;
}

.gameitem__header--upcoming {
    background-color: $color-blue-button;
}

.gameitem__list {
    background-color: $color-gray-bg-dark;
    margin: 0;
    padding-left: $rem16;
    padding-right: $rem16;
    @include responsive-padding-y(10, 32);
    text-align: center;
}

.gameitem__listitem {
    margin: $rem8 0;

    @media (min-width: $breakpoint-tablet) {
        display: inline;
        margin: 0 .5em;
    }
}

.gameitem__listlink {
    @include responsive-font(14, 18);
    font-weight: $font-weight-bold;
    @include responsive-lineheight(16, 21);
    text-transform: uppercase;
}

.gameitem__badge {
    background-color: #000;
    bottom: 100%;
    color: #fff;
    display: block;
    font-weight: $font-weight-bold;
    font-size: $rem12;
    line-height: $rem18;
    margin-bottom: -$rem4;
    padding: $rem6 $rem14;
    position: absolute;
    right: -$rem4;
    text-transform: uppercase;
}

.gameitem__scorers {
    color: $color-gray-detail;
    font-weight: $font-weight-bold;
    @include responsive-font(13, 16);
    @include responsive-lineheight(18, 21);
    padding-bottom: 3em;
    text-align: center;
    text-transform: uppercase;
}